@charset "utf-8";

:root{
    --background-color: #f9f6f5;
    --main-color: #ffc700;
    --sub-color: #fff4cc;
    --text-color: #997800;
}

@keyframes fadeDown{
    0%{opacity: 0; transform: translateY(-100px);}
    100%{opacity: 1; transform: translateY(0px);}
}
@keyframes fadeUp{
    0%{opacity: 0; transform: translateY(100px);}
    100%{opacity: 1; transform: translateY(0px);}
}
@keyframes fadeLeft{
    0%{opacity: 0; transform: translateX(100px);}
    100%{opacity: 1; transform: translateX(0px);}
}
@keyframes fadeRight{
    0%{opacity: 0; transform: translateX(-100px);}
    100%{opacity: 1; transform: translateX(0px);}
}

body{font-size: 1.6rem; color: #333; line-height: 1.5; font-family: "Belgiano", "Pretendard", sans-serif; background: var(--background-color);}
.inner{max-width: 1440px; margin: 0 auto; padding: 0 20px;}
.btn_more a{display: inline-block; font-size: 2rem; background: url(../image/show_more.png) no-repeat right center; padding: 0 40px 0 0;}
h1{text-transform: capitalize; font-size: 8rem; color: var(--text-color); font-weight: 400;}

#fp-nav.active ul li .fp-tooltip{color: var(--text-color);}
#fp-nav ul li a span{background: #fff;}
#fp-nav.active ul li a span{background: var(--text-color);}
@media(max-width:1200px){
    #fp-nav{display: none !important;}
    h1{font-size: 6rem;}
}


/* header */
#header{position: fixed; left: 0; top: 0; width: 100%; height: 70px; z-index: 10; padding-top: 20px;}
#header .inner{position: relative; display: flex; justify-content: space-between; align-items: center;}
#header .gnb{display: flex; justify-content: space-between; gap: 50px;}
#header .gnb li a{text-transform: capitalize; color: #fff; letter-spacing: 2px;}
#header .gnb li a.active{color: #333;}
#header .logo{position: absolute; left: 50%; transform: translateX(-50%); top: 0;}
#header .logo img{width: 100%; height: 100%;}

#header .btn{display: flex; gap: 20px;}
#header .btn button{background: transparent; cursor: pointer;}
#header .btn img{width: 30px; height: 30px;}

@media(max-width:1200px){
    #header{background: var(--background-color);}
    #header .gnb{display: none;}
    #header .logo{left: 20px; transform: translateX(0);}
}

/* mgnb */
.mgnb_wrap{display: none; background: var(--background-color); position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.mgnb_wrap .mgnb{display: flex; gap: 100px;justify-content: center; padding: 150px 0 0;}
.mgnb_wrap .mgnb .per{display: flex; gap: 100px;}
.mgnb_wrap .mgnb>li>ul{font-size: 3rem; font-weight: 600; text-transform: capitalize;}
.mgnb_wrap .mgnb>li>ul>li{padding: 15px 0;}
.mgnb_wrap .mgnb>li>ul>li>a{font-size: 2rem; color: #747474; font-weight: 500; letter-spacing: 1px;}
.mgnb_wrap .mgnb>li>ul>li>a:hover{color: var(--text-color);}

.mgnb_wrap .mgnb>li>ul>li .per_ed{font-size: 1.6rem; color: #747474; font-weight: 400; letter-spacing: 1px; padding: 10px 0 0; display: none;}
.mgnb_wrap .mgnb>li>ul>li .per_ed li{padding: 5px 0;}


.mgnb_wrap .btn_close{background: transparent; position: absolute; right: 100px; top: 50px; cursor: pointer;}

@media(max-width:1350px){
    .mgnb_wrap .mgnb>li>ul>li>a{display: none;}
    .mgnb_wrap .mgnb{display: block; gap: 50px;}
    /* .mgnb_wrap .mgnb .per{display: block;} */
}

/* banner */
.banner{position: relative;}
.banner img{position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}
.banner .txt{color: var(--sub-color);}
.banner .txt h1{position: absolute; left: 50%; transform: translateX(-50%); top: 200px; color: var(--sub-color); font-size: 12rem; white-space: nowrap;}
.banner .txt h3{position: absolute; left: 50%; bottom: 200px; transform: translateX(-50%); font-size: 5rem;}
.banner .txt p{position: absolute; left: 50%; bottom: 50px; transform: translateX(-50%); text-align: center;}

@media(max-width:1200px){
    .banner .txt h1{font-size: 10rem;}
}
@media(max-width:1100px){
    .banner .txt h3{font-size: 4rem; bottom: 220px;}
    .banner .txt p{width: 400px;}
    .banner .txt p br{display: none;}
}
@media(max-width:900px){
    .banner .txt h1{font-size: 8rem;}
}
@media(max-width:700px){
    .banner .txt h1{font-size: 6rem;}
}

/* perfume */

.perfume  h1{padding-bottom: 30px;}
.perfume .content{display: flex; /* grid-template-columns: 800px auto; */ gap: 100px;}
.perfume .per_left{/* position: relative; */ display: flex; gap: 50px;}
.perfume .per_left img{/* position: absolute; right: 20px; bottom: -100px; */ width: 400px; height: 550px; border-radius: 60% 100px 50% 50px;}
.perfume .per_left .perfume_list li:not(:first-child){display: none;}
.perfume .per_left div{line-height: 2; font-size: 1.8rem;}

.perfume .per_right { height: 640px; }
.perfume .per_right img{width: 50px; height: 50px; border-radius: 100%;}
.perfume .per_right ul li{display: flex; gap: 50px; align-items: center; height: 80px; cursor: pointer;}
.perfume .per_right ul li:hover{border-bottom: 4px solid #fff4cc;}
.perfume .per_right ul li p{text-transform: capitalize; font-size: 2rem;}

.perfume .per_bg_list{display: none;}

@media(max-width:1550px){
    .perfume .content{display: block;}
    .perfume .per_bg_list{display: block;}
    .perfume .per_bg_list ul li:not(:first-child){display: none;}
    .perfume .per_bg_list img{width: 100%; border-radius: 20px;}
    .perfume .per_left{justify-content: center; gap: 100px; align-items: center;}
    .perfume .per_left div{display: none;}

    .perfume .per_right ul{display: flex; justify-content: space-around; gap: 30px; padding: 50px 0 0;}
    .perfume .per_right ul li{display: block; text-align: center; width: 110px;}
    .perfume .per_right ul li img{transform: scale(1);}
    .perfume .per_right ul li:hover img{transform: scale(1.2);}
    .perfume .per_right ul li p{font-size: 1.4rem; padding-top: 10px;}
}
@media(max-width:1200px){
    .perfume{padding: 100px 0 0;}
}

/* lotion */
.lotion.active h1{animation: fadeDown 2s;}
.lotion.active .lotion_list{animation: fadeUp 2s;}

.lotion h1{font-size: 10rem; text-align: center; color: var(--text-color);}
.lotion .lotion_list{display: flex; gap: 50px; align-items: center;}
.lotion .lotion_list img{width: 100%; border-radius: 20px;}
.lotion .lotion_list .lotion_text h3{font-size: 4rem; color: var(--text-color); font-weight: 400; text-transform: capitalize;}
.lotion .lotion_list .lotion_text p{width: 20vw; padding: 50px 0; font-size: 1.8rem; line-height: 2;}

@media(max-width:1200px){
    .lotion{padding: 100px 0 0;}
}
@media(max-width:1120px){
    .lotion h1{font-size: 8rem;}
    .lotion .lotion_list .lotion_text h3{font-size: 3rem;}
    .lotion .lotion_list .lotion_text p{padding: 30px 0; font-size: 1.7rem;}
}
@media(max-width:1000px){
    .lotion h1{font-size: 7rem;}
    .lotion .lotion_list{display: block;}
    .lotion .lotion_list .lotion_text{padding: 30px 0;}
    .lotion .lotion_list .lotion_text p{width: 100%;}
}
@media(max-width:800px){
    .lotion h1{font-size: 6rem;}
    .lotion .lotion_list .lotion_text h3{font-size: 2rem;}
    .lotion .lotion_list .lotion_text p{padding: 10px 0;}
}
@media(max-width:690px){
    .lotion h1{font-size: 4rem;}
}

/* bath */
.bath.active .bath_txt{animation: fadeRight 2s;}

.bath .inner{display: flex; gap: 100px; position: relative;}
.bath .bath_txt h1{line-height: 1;}
.bath .bath_txt p{width: 20vw; padding: 50px 0; font-size: 1.8rem; line-height: 2;}

.bath .bath_img .img_1 img{width: 100%; height: 100%;  border-radius: 30px;}
.bath .bath_img .img_2 img{width: 30%; position: absolute; right: 200px; bottom: 0; border-radius: 30px;}
.bath .bath_img p{position: absolute; right: 27%; transform: translateX(-27%); top: 30px; writing-mode: vertical-lr; color: #999;}
.bath .bath_img span{padding: 20px 0 0 20px; display: block; color: #999;}

@media(max-width:1400px){
    .bath .inner{gap: 80px;}
    .bath .bath_img p{right: 25%; transform: translateX(-25%);}
}
@media(max-width:1350px){
    .bath .bath_img p{right: 20%; transform: translateX(-20%);}
}
@media(max-width:1270px){
    .bath .bath_img p{right: 17%; transform: translateX(-17%);}
}
@media(max-width:1200px){
    .bath{padding: 100px 0 0;}
    .bath .bath_img p{right: 21%; transform: translateX(-21%);}
    .bath .bath_img .img_2{display: none;}
}
@media(max-width:1160px){
    .bath .bath_img p{right: 15%; transform: translateX(-15%);}
}


@media(max-width:900px){
    .bath .bath_txt h1{font-size: 5rem;}
    .bath .inner{display: block;}
    .bath .bath_txt p{width: 100%; padding: 10px 0;}
    .bath .bath_img .img_1{padding: 30px 0 0;}
    .bath .bath_img p{display: none;}
}

/* forhome */
.forhome.active .for_txt h1{animation: fadeDown 2s;}
.forhome.active .for_txt p{animation: fadeDown 2s;}
.forhome.active .for_txt .for_1 img{animation: fadeUp 2s;}

.forhome .inner{position: relative; display: flex; gap: 280px;}
.forhome .for_txt p{padding: 20px 0 40px; font-size: 1.8rem; line-height: 2;}
.forhome .for_txt .for_1 img{border-radius: 50%; margin-top: 50px; width: 100%;}
.forhome .for_img .for_2 img{border-radius: 50px; width: 100%; height: 100%; margin: 30px 0 0;}
.forhome .for_img span{position: absolute; left: 40%; transform: translateX(-40%); top: 80px; writing-mode: vertical-lr; color: #999;}

@media(max-width:1400px){
    
    .forhome .inner{gap: 250px;}
}
@media(max-width:1200px){
    .forhome{padding: 100px 0 0;}
    .forhome .inner{gap: 200px;}
}
@media(max-width:900px){
    .forhome .inner{gap: 100px;}
    .forhome .for_img span{left: 34%; transform: translateX(-34%);}
    .forhome .for_txt .for_1{display: none;}
}
@media(max-width:700px){
    .forhome .inner{display: block;}
    .forhome .for_txt p{padding: 20px 0;}
    .forhome .for_img .for_2{padding: 30px 0;}
    .forhome .for_img span{display: none;}
}

/* package */
.package.active .pack_txt{animation: fadeDown 2s;}

.package .pack_txt{text-align: center;}
.package .pack_txt span{font-size: 2rem;}
.package .pack_txt p{font-size: 3rem; color: #999;}
.package .package_list ul li img {width: 100%;}

@media(max-width:1200px){
    .package{padding: 100px 0 0;}
}
@media(max-width:1000px){
    .package .pack_txt span{font-size: 1.6rem;}
    .package .pack_txt h1{font-size: 5rem;} 
    .package .pack_txt p{font-size: 2rem;}
}
@media(max-width:550px){
    .package .pack_txt p{font-size: 1.8rem;}
}

/* heritage */
.heritage .heritage_img{display: flex; justify-content: center; position: relative;}
.heritage .heritage_img img{width: 1000px; height: 500px; margin: 0 auto;}
.heritage .heritage_txt h1{position: absolute; left: 300px; top: 50%; transform: translateY(-50%); font-size: 10rem; font-weight: 700;}
.heritage .heritage_txt h2{position: absolute; right: 200px; top: 50%; transform: translateY(-50%); font-size: 8rem; color: var(--sub-color); font-size: 10rem;}
.heritage .heritage_txt p{text-align: center; padding-top: 50px;}

@media(max-width:1200px){
    .heritage{padding: 100px 0;}
    .heritage .heritage_img img{width: 50vw; height: auto;}
    .heritage .heritage_txt h1{left: 80px; top: 80px; transform: translateY(0);}
    .heritage .heritage_txt h2{right: 20px; top: 65%; transform: translateY(-65%);}
    .heritage .heritage_txt p br{display: none;}
}
@media(max-width:1000px){
    .heritage .heritage_txt h1{font-size: 8rem;}
    .heritage .heritage_txt h2{font-size: 8rem; top: 55%; transform: translateY(-55%);}
}
@media(max-width:800px){
    .heritage .heritage_txt h1{font-size: 7rem;}
    .heritage .heritage_txt h2{font-size: 7rem; top: 50%; transform: translateY(-50%);}
}
@media(max-width:600px){
    .heritage .heritage_txt h1{font-size: 6rem;}
    .heritage .heritage_txt h2{font-size: 6rem; top: 45%; transform: translateY(-45%);}
}

/* footer */
#footer{background: #fff;}
#footer .inner{display: flex; justify-content: space-between; gap: 100px; padding: 100px 0;}
#footer .footer_left{display: grid; grid-template-columns: 1fr 1fr; gap: 30px 50px; border-left: 10px solid #333; border-right: 10px solid #333; border-radius: 100px; padding: 30px 100px;}
#footer .footer_left::after{content: ""; }
#footer .footer_left dl dt{font-size: 2rem; text-transform: capitalize; font-weight: 600; padding-bottom: 10px;}
#footer .footer_left .sns{display: flex; gap: 10px;}
#footer .footer_left .sns img{width: 30px; height: 30px;}
#footer .copy{text-align: center; font-size: 1.4rem; padding-bottom: 10px; font-family: 'Pretentard';}

@media(max-width:1200px){
    #footer .inner{padding: 100px 20px;}
}
@media(max-width:900px){
    #footer .inner{display: block;}
    #footer .footer_right{padding: 30px 0 0;}
}








