@charset "utf-8";

:root{
    --background-color: #f9f6f5;
    --main-color: #ffc700;
    --sub-color: #fff4cc;
    --text-color: #997800;
}

body{font-size: 1.6rem; color: #333; line-height: 1.5; font-family: "Belgiano", "Pretendard", sans-serif; background: var(--background-color);}
.inner{max-width: 1440px; margin: 0 auto; padding: 0 20px;}
.btn_more a{display: inline-block; font-size: 2rem; background: url(../image/show_more.png) no-repeat right center; padding: 0 40px 0 0;}
h1{text-transform: capitalize; font-size: 8rem; color: var(--text-color); font-weight: 400;}

/* header */
#header{padding-top: 20px;}
#header .inner{position: relative; display: flex; justify-content: space-between; align-items: center;}
#header .gnb{display: flex; justify-content: space-between; gap: 50px;}
#header .gnb li a{text-transform: capitalize; color: #333; letter-spacing: 2px;}
#header .logo{position: absolute; left: 50%; transform: translateX(-50%); top: 0;}
#header .logo img{width: 100%; height: 100%;}

#header .btn{display: flex; gap: 20px;}
#header .btn button{background: transparent; cursor: pointer;}
#header .btn img{width: 30px; height: 30px;}

@media(max-width:1200px){
    #header{background: var(--background-color);}
    #header .gnb{display: none;}
    #header .logo{left: 20px; transform: translateX(0);}
}

/* mgnb */
.mgnb_wrap{display: none; background: var(--background-color); position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.mgnb_wrap .mgnb{display: flex; gap: 100px;justify-content: center; padding: 150px 0 0;}
.mgnb_wrap .mgnb .per{display: flex; gap: 100px;}
.mgnb_wrap .mgnb>li>ul{font-size: 3rem; font-weight: 600; text-transform: capitalize;}
.mgnb_wrap .mgnb>li>ul>li{padding: 15px 0;}
.mgnb_wrap .mgnb>li>ul>li>a{font-size: 2rem; color: #747474; font-weight: 500; letter-spacing: 1px;}
.mgnb_wrap .mgnb>li>ul>li>a:hover{color: var(--text-color);}

.mgnb_wrap .mgnb>li>ul>li .per_ed{font-size: 1.6rem; color: #747474; font-weight: 400; letter-spacing: 1px; padding: 10px 0 0; display: none;}
.mgnb_wrap .mgnb>li>ul>li .per_ed li{padding: 5px 0;}


.mgnb_wrap .btn_close{background: transparent; position: absolute; right: 100px; top: 50px; cursor: pointer;}

@media(max-width:1350px){
    .mgnb_wrap .mgnb>li>ul>li>a{display: none;}
    .mgnb_wrap .mgnb{display: block; gap: 50px;}
    /* .mgnb_wrap .mgnb .per{display: block;} */
}

/* main */
#main{padding: 100px 0;}
#main .inner h1{text-align: center;}
#main .inner h2{text-align: center; font-size: 2rem; padding: 50px 0 100px;}
#main .inner .gift_list{display: flex; gap: 100px;}

#main .inner .gift_list .gift_left{position: sticky; top: 30px; width: 250px; height: 20%; background: #fff; border-radius: 20px; padding: 20px; font-family: 'Pretendard';}
#main .inner .gift_list .gift_left dt{font-size: 2rem; font-weight: 700; text-transform: capitalize; padding: 0 150px 0 0; background: url(../image/show_more.png) no-repeat center; cursor: pointer;}
#main .inner .gift_list .gift_left dd{padding: 8px 10px; display: none;}
#main .inner .gift_list .gift_left .menu_list{display: flex; align-items: center; justify-content: space-between;}
#main .inner .gift_list .gift_left .menu_list .btn_more1{cursor: pointer;}

#main .inner .gift_list .gift_right h3{font-size: 3rem; text-transform: capitalize;}
#main .inner .gift_list .gift_right ul{display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 50px;}
#main .inner .gift_list .gift_right ul li .btn_more3{background: url(../image/show_more.png) no-repeat 75px center / 20px;}
#main .inner .gift_list .gift_right ul li img{width: 100%;}
#main .inner .gift_list .gift_right ul li strong{font-size: 1.8rem; text-transform: capitalize; letter-spacing: 1px;}

.option{display: flex; justify-content: space-between;}
.option #option1{outline: none; background: var(--background-color);}




/* footer */
#footer{background: #fff;}
#footer .inner{display: flex; justify-content: space-between; gap: 100px; padding: 100px 0;}
#footer .footer_left{display: grid; grid-template-columns: 1fr 1fr; gap: 30px 50px; border-left: 10px solid #333; border-right: 10px solid #333; border-radius: 100px; padding: 30px 100px;}
#footer .footer_left::after{content: ""; }
#footer .footer_left dl dt{font-size: 2rem; text-transform: capitalize; font-weight: 600; padding-bottom: 10px;}
#footer .footer_left .sns{display: flex; gap: 10px;}
#footer .footer_left .sns img{width: 30px; height: 30px;}
#footer .copy{text-align: center; font-size: 1.4rem; padding-bottom: 10px; font-family: 'Pretentard';}

@media(max-width:1200px){
    #footer .inner{padding: 100px 20px;}
}
@media(max-width:900px){
    #footer .inner{display: block;}
    #footer .footer_right{padding: 30px 0 0;}
}